body{background-color: #800517 ; color: white; text-align: center}
div{background-color: black;}
iframe{overflow-x: hidden; overflow-y: hidden; width: 290px; border: none; height: 100%; position: relative; left: -8px; top: -8px;}
p{margin: 10px 0px 0px 0px; font-size: 10px; font-family: verdana;}
#mainBox{height: 1000px; width: 1000px; margin: -10px auto -10px auto; background-color: #FAAFBA;}
#header{background-image:url('img/mainBanner.jpg'); width: 980px; height: 250px;
	position: relative;
	top: 10px;
	left: 10px;
}
#nav{width: 980px; height: 35px; background:#202020;
	margin: 20px 10px 0px 10px;
	}
	#nav ul{padding-top: 5px; position: relative; left: -5px; }
	#nav ul li{display: inline; padding: 0px 0px 0 50px;}
	#nav a:link{text-decoration: none; font-family: Arial; font-size: 1.28em; color: #FF6666; }
	#nav a:visited{color: #FF6666;}
	#nav a:hover{color: red;}
	#nav a:active{color: white;}
	
	.header {
		margin-left: 20px;
		margin-bottom: 10px;
	}
	td iframe {
		margin-left: 20px;
		margin-top: 20px;
		height: 650px;
	}
	.bio{
		width: 650px;
		margin-left: 20px;
		margin-bottom: 20px;
	}
	.gallery{
		width: 100%;
		margin-left: 10px;
	}
	.gallery img{
		margin-bottom: 20px;
	}
	.video iframe{
		width: 90%;
		height: 400px;
	}
	p{
		font-size: 15px;
		text-align: center;
	}
	.forum{
		width: 98%;
		height: 550;
	}
	

#ads{float: left; height: 55%; width: 170px; padding: 15px 15px 0px 15px; text-align: justify; text-indent: 20px;	}
#ads p{font-size: 10px;}


a{
	text-decoration: none;
	color:#FFF;
}

a:hover{
	color:#827d79;
}
